:root {
  --borderColor: #ffffff;
}

body {
  background-color: #fafafa;

}

.grid {
  border-left: solid var(--borderColor) 1px;
  border-top: solid var(--borderColor) 1px;
  display: table;
  margin: auto;
}

.cell {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-right: solid var(--borderColor) 1px;
  border-bottom: solid var(--borderColor) 1px;
  display: block;
  float: left;
}

.live {
  background-color: #ba2d65;
}

.dead {
  background-color: #E6E0DA;
}

.cell:hover {
  background: #ff94c2;
}

h1,
h2 {
  color: #ba2d65;
  text-align: center;
  font-family: sans-serif;
}