:root {
  --borderColor: #ffffff;
}

body {
  background-color: #fafafa;
  font-family: sans-serif;
}

.grid {
  border-left: solid var(--borderColor) 1px;
  border-top: solid var(--borderColor) 1px;
  display: table;
}

.cell {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-right: solid var(--borderColor) 1px;
  border-bottom: solid var(--borderColor) 1px;
  display: block;
  float: left;
}

.live {
  background-color: #ba2d65;
}

.dead {
  background-color: #E6E0DA;
}

.cell:hover {
  background: #ff94c2;
}

h1,
h2 {
  color: #ba2d65;
  text-align: center;
}

h3 {
  color: #ba2d65;
  text-align: center;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
}